/* Base styling */
h1 {
  padding-left: 10px;
}

.title-bar button {
  border: 0px;
}

#successfulResponse,#errorResponse {
  display: none;
}

.weekTotal::before,.dayTotal::before {
  content: ' (';
}

.weekTotal::after,.dayTotal::after {
  content: ' hrs)';
}

.dayHeader,.positionHeader {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: .75rem;
  margin-top: .5rem;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
}

.positionHeader {
  border-color: white;
}

.dayName {
  display: inline;
  padding-right: 10px;
}

.dayAbbreviation,.dayShortAbbreviation,.positions {
  display: none;
  padding-right: 10px;
}

.dayTotal,.dayAndMonth {
  display: inline;
}

.position {
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: .125rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-size: .5rem;
}

.buttonArea {
  margin-top: 1rem;
}

.validateTimesheet {
  background-color: #f3e1cb;
}

.saveChanges {
  background-color: #a0eca0;
}

button {
  height: 4rem;
  border: 1px solid #000;
  font-weight: bold;
}

button:disabled {
  border-color: #e2e2e2;
  background-color: #f7f7f7;
  color: #e2e2e2;
}

.large-status {
  display: none;
}

#authenticated .username {
  display: none;
}

#authenticated .signOut {
  display: inline;
  padding: 0px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .large-status {
      display: block;
    }

    #authenticated {
      padding: .7rem 1rem;
    }

    #authenticated .username {
      display: inline;
    }

    #authenticated .signOut::before {
      content: ' (';
    }

    #authenticated .signOut::after {
      content: ')';
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {
  .dayHeader,.positionHeader {
    font-size: 1rem;
    padding: 0px 0px 0px 10px;
  }

  .dayName {
    display: none;
  }

  .dayShortAbbreviation {
    display: inline;
  }

  .dayTotal {
    display: block;
  }

  .positions {
    display: block;
  }

  .timeEntries {
    display: block!important;
  }

  .timeEntry .positionLabel {
    display: none;
  }

  #successfulResponse {
    margin: 0 1rem;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* Before JS Loads */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
