/* Base styling */
html {
  font-size: 64px;
}

h1 {
  padding-left: 0.15rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#customGoogleButton {
  display: inline-block;
  background: white;
  color: #444;
  width: 7rem;
  border-radius: 0.25rem;
  border: thin solid #888;
  box-shadow: 0.075rem 0.075rem 0.075rem grey;
  white-space: nowrap;
}
#customGoogleButton:hover {
  cursor: pointer;
}
#customGoogleButton div.googleG {
  display: inline-block;
  vertical-align: middle;
  width: 2.625rem;
  height: 2.625rem;
  padding: 0.75rem;
}
#customGoogleButton div.googleText {
  display: inline-block;
  vertical-align: middle;
  padding: 0rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.timesheet-startDate {
  padding-left: 0.5rem;
}

.timesheet-endDate::before {
  content: ' - ';
}

.title-bar button {
  border: 0rem;
}

.title-bar .fa-bars {
  position: absolute;
  padding-top: 0.35rem;
}

.title-bar .fa-bars:hover {
  color: #9a9a9a;
}

.title-bar-title {
  padding-left: 1.15rem;
  width: 100%;
  display: inline-flex;
}

#dateSelection {
  cursor: pointer;
}

.top-bar .fa-calendar:hover {
  color: #9a9a9a;
}

.menu li {
  margin: 0.5rem 0rem;
}

#successfulResponse,#errorResponse {
  display: none;
}

.weekTotal {
  white-space: nowrap;
}

.weekTotal::before,.dayTotal::before {
  content: ' (';
}

.weekTotal::after,.dayTotal::after {
  content: ' hrs)';
}

.dayHeader,.positionHeader {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.15rem;
  padding: .75rem;
  margin-top: .5rem;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
}

.positionHeader {
  border-color: white;
}

.dayAbbreviation {
  display: inline;
  padding-right: 0.15rem;
}

.dayName,.dayShortAbbreviation,.positions {
  display: none;
  padding-right: 0.15rem;
}

.dayTotal,.dayAndMonth {
  display: inline;
  white-space: nowrap;
}

.position {
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.125rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-size: 0.5rem;
}

.buttonArea {
  margin-top: 1rem;
}

.validateTimesheet {
  background-color: #f3e1cb;
}

.saveChanges {
  background-color: #a0eca0;
}

button {
  height: 4rem;
  border: 1px solid #000;
  font-weight: bold;
}

button:disabled {
  border-color: #e2e2e2;
  background-color: #f7f7f7;
  color: #e2e2e2;
}

.large-status {
  display: none;
}

#authenticated .username {
  display: none;
}

#authenticated .signOut {
  display: inline;
  padding: 0rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .top-bar .top-bar-right, .top-bar .top-bar-left {
    width: 100%;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {
  html {
    font-size: 16px;
  }

  .top-bar .top-bar-right, .top-bar .top-bar-left {
    width: auto;
  }

  .timesheet-startDate::before {
    content: '[';
  }

  .timesheet-endDate::after {
    content: ']';
  }

  .large-status {
    display: block;
  }

  #authentication .customGPlusSignIn {
    margin: 0rem 1rem;
  }

  #authenticated {
    padding: 0.7rem 1rem;
  }

  #authenticated .username {
    display: inline;
  }

  #authenticated .signOut::before {
    content: ' (';
  }

  #authenticated .signOut::after {
    content: ')';
  }

  .dayHeader,.positionHeader {
    font-size: 1rem;
    padding: 0rem 0rem 0rem 0.15rem;
  }

  .dayAbbreviation {
    display: none;
  }

  .dayShortAbbreviation {
    display: inline;
  }

  .dayTotal {
    display: block;
  }

  .positions {
    display: block;
  }

  .timeEntries {
    display: block!important;
  }

  .timeEntry .positionLabel {
    display: none;
  }

  #successfulResponse {
    margin: 0 1rem;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* Before JS Loads */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
